.enemy1 {
    height: 15%;
    width: 15%;
    background-image: url("../medias/meteorite.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    animation: meteoriteAnimation1 6s infinite linear;
}

@keyframes meteoriteAnimation1 {
    0% {
        transform: translate(0vw, 0vh);
    }
    12.5% {
        transform: translate(-15vw, 5vh);
    }
    25% {
        transform: translate(-25vw, 7vh);
    }
    50% {
        transform: translate(-50vw, -5vh);
    }
    75% {
        transform: translate(-75vw, 3vh);
    }
    100% {
        transform: translate(-115vw, -5vh);
    }
}

.enemy2 {
    height: 10%;
    width: 10%;
    background-image: url("../medias/meteorite.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    animation: meteoriteAnimation2 4s infinite ease-in-out;
}

@keyframes meteoriteAnimation2 {
    0% {
        transform: translate(0vw, 0vh);
    }
    12.5% {
        transform: translate(-15vw, 10vh);
    }
    25% {
        transform: translate(-25vw, 20vh);
    }
    50% {
        transform: translate(-50vw, -10vh);
    }
    75% {
        transform: translate(-75vw, -30vh);
    }
    100% {
        transform: translate(-115vw, -5vh);
    }
}