@font-face {
    font-family: 'common_pixelregular';
    src: url('.font/commp___-webfont.woff2') format('woff2'), url('.font/commp___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #08193e;
    overflow: hidden;
}

#start {
    color: #fff;
    font-family: 'common_pixelregular' sans-serif;
    font-size: 5em;
    font-weight: bold;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    animation: pressEnterToStart 1.5s infinite linear;
}

.notStarted {
    visibility: visible;
}

.started {
    visibility: hidden;
}

#nyan-cat-contenair {
    width: 100%;
    position: absolute;
    z-index: 1;
}

#nyanCat {
    width: 10%;
}

@keyframes pressEnterToStart {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}